@import "tailwindcss";

@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

/**
=================
SETTING VARIABLES
=================
*/
:root {
  /** Background */
  --app-bg-default: #f0f0f0;
  --app-bg-surface: #e5e2e1;
  /** Buttons */
  --app-primary: #675048;
  --app-primary-hover: #483832;
  --app-button-text: #fafafa;
  --app-button-pressed: rgb(77, 63, 53);
  /** Text */
  --app-text-default: #211a17;
  --app-text-muted: #4c4848;
  /** Borders */
  --app-border-default: #5f4134;
}

.dark {
  --app-bg-default: #120d0c;
  --app-bg-surface: #1a1411;
  --app-primary: #a3a1a0;
  --app-primary-hover: #888686;
  --app-button-text: #141414;
  --app-button-pressed: ;
  --app-text-default: #a3a3a3;
  --app-text-muted: #ab9992;
  --app-border-default: #222222;
}

/* Dark mode via system preference (fallback) */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/**
=================
USING VARIABLES
=================
*/
@theme inline {
  /** Background */
  --color-default: var(--app-bg-default);
  --color-surface: var(--app-bg-surface);
  /** Button  */
  --color-primary: var(--app-primary);
  --color-primary-hover: var(--app-primary-hover);
  --color-buttonText: var(--app-button-text);
  --color-buttonPressed: var(--app-button-pressed);
  /** Text  */
  --color-defaultText: var(--app-text-default);
  --color-muted: var(--app-text-muted);
  /** Border  */
  --color-defaultBorder: var(--app-border-default);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
